body
{ 
	font: 14px sans-serif; 
	background:url('/assets/ui/login/background.png');
	background-size: cover;
}

input
{
    font-size: 18px;
    padding: 6px 13px;
    margin-bottom: 13px;
}

.wrapper
{
    margin: 75px 35%;
}