.menu-dialog
{
	position: absolute !important;
	top: 3.5vw !important;
	right: 3.5vw !important;
	left: auto !important;
	width: 49.25vw !important;
	height: 78.25vh !important;
	background: rgba(135,135,135,0.95) !important;
	border-color: rgba(135,135,135,0.99) !important;
	padding: 0 !important;

}
.menu-dialog-header
{
	color: rgba(255,255,255,0.98);
	font-variant: small-caps;
	font-size: 20px;
	width: 50%;
	position: relative;
	top: -140px;
	left: 18px;
	letter-spacing: 2px;
	display: block;
}
.menu-dialog-subheader
{
	width: 100%;
	font-size: 18px;
	letter-spacing: 1px;
	margin: 18px 0 10px 0;
	color: white;
	display: block;
	clear: both;
}
.menu-dialog-text 
{
	font-size: 16px;
	color: rgba(255,255,255,0.96);
}
.menu-dialog-col
{
	display: inline-block;
	width: 42.75%;
	color: rgba(255,255,255,0.95);
	margin: 0 2% 10px 2%;
}

.btn-settings
{
	font-size: 16px;
	width: 46%;
	text-align: center;
	color: #fff !important;
	border-color: #fff;
	margin-bottom: 25px;
}
#menu-settings a:nth-child(even)
{
	margin-left: 3%;
}
#menu-settings a:nth-child(odd)
{
	margin-right: 3%;
}